transformers
torch
sentencepiece
datasets
sacremoses
accelerate
bitsandbytes
sentence-transformers
scikit-learn
sacrebleu
bert-score
nltk
protobuf
numpy
matplotlib
langchain
langchain-huggingface
langchain-core
unbabel-comet
